<app-navbar></app-navbar>

<h1>Administrar Peliculas</h1>
<div id="admin" class="container">
    <div class="opcion-administrador" routerLink="/admin-movie-add">
        <img src="recursos/admin-movie-add-icon.png" alt="Administrador">
        <h2>Añadir pelicula</h2>
    </div>
    <div class="opcion-administrador" routerLink="/admin-movie-update">
        <img src="recursos/admin-movie-update-icon.png" alt="Administrador">
        <h2>Editar pelicula</h2>
    </div>

</div>
<app-footer></app-footer>