<app-navbar></app-navbar>

<div class="account-warning-container">
    <img src="recursos/warning.png" alt="Error 404" class="warning-image">
    <h1 class="warning-title">Su cuenta ha quedado desactivada no podra acceder a su cuenta hasta que un administrador
        la active nuevamente contáctanos</h1>
</div>

<div class="warning-details">
    <div class="warning-reason">
        <h2 class="detail-subtitle">Por qué ha ocurrido esto?</h2>
        <p class="detail-text">Tomamos medidas para proteger tu cuenta dectamos un posible uso sin autorizacion o por
            hacer alguna actividad que no cumpla con nuestras politicas</p>
    </div>

    <div class="warning-solution">
        <h2 class="detail-subtitle">¿Qué hacer ahora?</h2>
        <p class="detail-text">Si crees que esto es un error, por favor contáctanos a través de nuestro formulario de
            contacto o envíanos un correo electrónico y nuestro equipo revisará tu caso lo antes posible. Asegúrate de
            incluir la mayor cantidad de información posible para que podamos ayudarte de manera efectiva. Recuerda que
            la seguridad de tu cuenta es nuestra prioridad. Te recomendamos que cambies tu contraseña y revises la
            actividad reciente de tu cuenta para asegurarte de que no haya habido accesos no autorizados y de cumplir
            con nuestras normas de uso.</p>
    </div>
</div>

<button class="warning-button" (click)="irAContacto()">
    IR A CONTACTO
</button>




<app-footer></app-footer>